base_styles_fields()
  display block
  border 1px solid #ccc
  border-radius 3px

  padding 7px 14px 8px
  width 100%
  height 34px

  background #fff
  color $text-color

  font 400 $font-size-base/1.3 $font-family-base

  box-sizing border-box
  transition border-color ease .3s

  placeholder(color = #666)

  &:focus
    border-color #aaa
    placeholder(color = #ccc)

  &[disabled]
  &[readonly]
    opacity .6

  &.error
  .error &
    border-color #ff0000


.form-control
  base_styles_fields()

  textarea&
    height auto


.form-group
  margin-bottom 15px

  label
    display block
    margin-bottom 5px