// ============ Fonts ============
$arial = Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif
$verdana = Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif
$tahoma = Tahoma, 'Geneva CY', sans-serif
$roman = 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif
$georgia = Georgia, 'Century Schoolbook L', serif

// ============ Base settings ============
$font-size-body = 13px
$line-height-body-px = 18px
$line-height-body = unit(floor($line-height-body-px / $font-size-body, 4), '')

$background-body = #fff
$font-body = $arial

// ==== Selection ====
$selection-color = #fff
$selection-color-bg = #0784ad

// ==== Colors ====
$text-color = #333
$link-color = #0784ad
$base-color = #33a9b9
$second-color = #fd6a35

// ============ Media queries breakpoints ============
$xs = 480px
$sm = 768px
$md = 1000px
$lg = 1200px

$sm-min = $xs
$md-min = $sm
$lg-min = $md



// ============ Components ============
$font-base = $font-body
$font-size-base = 13px
$line-height-base = 1.42
$line-height-base-px = floor($line-height-base * $font-size-base, 3)

$padding-vertical-base = 7px
$padding-horizontal-base = 12px
$border-width-base = 1px

// ==== Buttons ====


// Froms
$margin-bottom-fields = 20px

// ==== Grid ====
$grid-columns = 12
$grid-padding = 14px