// ============ Fonts ============
$arial = Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif
$verdana = Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif
$tahoma = Tahoma, 'Geneva CY', sans-serif
$roman = 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif
$georgia = Georgia, 'Century Schoolbook L', serif

// ============ Typography ============
$font-family-base = $arial
$font-size-base = 14px
$line-height-base-px = 20px
$line-height-base = unit(floor($line-height-base-px / $font-size-base, 4), '')
$background-body = #fff

// ============ Colors ============
$text-color = #333
$link-color = #0784ad
$base-color = #33a9b9
$second-color = #fd6a35

// ============ Media queries breakpoints ============
$xs = 480px
$sm = 768px
$md = 1000px
$lg = 1200px

$xs-max = $sm - 1
$sm-max = $md - 1
$md-max = $lg - 1

// media-*
$m-xs = '(min-width:' + $xs + ')'
$m-sm = '(min-width:' + $sm + ')'
$m-md = '(min-width:' + $md + ')'
$m-lg = '(min-width:' + $lg + ')'

$m-only-xxs = '(max-width:' + ($xs - 1) + ')'
$m-only-xs = $m-xs + ' and (max-width:' + $xs-max + ')'
$m-only-sm = $m-sm + ' and (max-width:' + $sm-max + ')'
$m-only-md = $m-md + ' and (max-width:' + $md-max + ')'

$m-phones = '(max-width:' + $xs-max + ')'
$m-tablets = $m-only-sm
$m-desktops = $m-md

$m-retina = "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)"

// ==== Grid ====
$grid-columns = 12
$grid-padding = 20px