doctype html
html
  head
    meta(charset='UTF-8')

    block title
    title #{title}

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href='media/images/favicon/apple-touch-icon.png', rel='apple-touch-icon')
    link(href='media/images/favicon/favicon.ico', rel='icon')


    link(href='media/css/main.css', rel='stylesheet')
    script(src='media/js/libs/modernizr-2.7.1.custom.min.js')

    //[if lte IE 9]>
      <script src='media/js/libs/respond.1.4.2.min.js'></script>
      <![endif]

  body

    include includes/header

    .container
      block content

    include includes/footer

    script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
    script(src='media/js/main.js')