@import '../variables'
@import '*/*-bs'

.hidden-bs,
.visible-xs,
.visible-sm,
.visible-md,
.hidden-only-bs,
.visible-only-md,
.visible-only-sm,
.visible-only-xs {
  display none !important
}

@media (max-width $md-max) {

  .visible-md,
  .visible-only-md,
  .hidden-only-bs {
    display block !important
  }

  .hidden-md,
  .visible-only-bs,
  .hidden-only-md {
    display none !important
  }

  @import '*/*-md'
}

@media (max-width $sm-max) {

  .visible-sm,
  .visible-only-sm,
  .hidden-only-md {
    display block !important
  }

  .hidden-sm,
  .visible-only-md,
  .hidden-only-sm {
    display none !important
  }

  @import '*/*-sm'
}

@media (max-width $xs-max) {

  .visible-xs,
  .visible-only-xs,
  .hidden-only-sm {
    display block !important
  }

  .hidden-xs,
  .visible-only-sm,
  .hidden-only-xs {
    display none !important
  }

  @import '*/*-xs'
}