<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Page UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="media/images/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="shortcut icon" href="media/images/favicon/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="media/images/favicon/apple-touch-icon-144x144-precomposed.png">

  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="media/css/main.css">
  <script type="text/javascript" src="media/js/libs/modernizr-2.7.1.custom.min.js"></script>
  <!--[if lt IE 9]>
    <script src="media/js/libs/respond.1.4.2.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="header"></header>

  <section class="container">
      <br>
      <br>
      <br>

    <div class="constrain">
      <a class="btn" href="#" role="button">Ссылка</a>
      <button class="btn" type="submit">Кнопка</button>
      <input class="btn" type="button" value="Input">
      <input class="btn" type="submit" value="Submit">
      <a class="btn btn_link" href="#" role="button">Ссылка</a>
      <button class="btn btn_link" type="submit">Кнопка</button>
      <input class="btn btn_link" type="button" value="Input">
      <input class="btn btn_link" type="submit" value="Submit">
      <button class="btn" type="submit" disabled="disabled">Кнопка</button>
      <input class="btn" type="button" value="Input" disabled="disabled">
      <input class="btn" type="submit" value="Submit" disabled="disabled">
      <br>
      <br>
      <input type="radio" name="radio" checked="checked">
      <input type="radio" name="radio">
      <input type="radio" name="radio">
      <br>
      <br>
      <input type="checkbox" disabled="disabled">
      <input type="checkbox" disabled="disabled" checked="checked">
      <input type="checkbox" checked="checked">
      <input type="checkbox">
      <br>
      <br>
      <br>



      <div class="g-row">
        <div class="g-bs-4 mb20">
          <input type="text" class="form-control" placeholder="input...">
        </div>
        <div class="g-bs-4">
          <input type="text" class="form-control" placeholder="input disabled" disabled="disabled">
        </div>
        <div class="g-bs-4">
          <button class="btn btn_block" type="submit">Кнопка</button>
        </div>
        <div class="g-bs-8 mb20">
          <textarea class="form-control" placeholder="input..."></textarea>
        </div>
      </div>
      <div class="g-row">
        <div class="g-bs-4">
          <div class="form-group">
            <label>Label</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="g-bs-8">
          <div class="form-group">
            <label>Label</label>
            <input type="text" class="form-control error">
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>

      <h2>Fancybox-popup</h2>
      <h3>easy photo and video gallery</h3>
      <a href="javascript:;" class="js-gallery-fancybox" data-fancybox-href="http://img1.liveinternet.ru/images/attach/c/8/101/474/101474051_001.jpg" title="easy photo gallery. Photo 1" rel="easy-gallery">easy photo gallery. Photo 1</a>
      <br>
      <a href="javascript:;" class="js-gallery-fancybox" data-fancybox-href="http://zemlyanin.info/wp-content/uploads/2011/08/planeta_zemlya_priroda.jpg" title="easy photo gallery. Photo 2" rel="easy-gallery">easy photo gallery. Photo 2</a>
      <br>
      <a href="javascript:;" class="js-gallery-fancybox" data-fancybox-href="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/66799_196871540436643_1093308653_n.jpg?oh=0c59e3a23bd6c505d7bc620c47987651&oe=55B001B2&__gda__=1438169837_f82ed2b73e7da87edfb359110bbcffe3" title="easy photo gallery. Photo 3" rel="easy-gallery">easy photo gallery. Photo 3</a>
      <br>
      <a href="javascript:;" class="js-gallery-fancybox" data-fancybox-href="http://www.youtube.com/watch?v=nYX20nCTST0" rel="easy-gallery">easy video gallery</a>
      <br>
      <br>
      <br>
      <h2>Grid</h2>
      <ul class="fs16 mb50">
        <li>
          <strong>g-bs-*</strong> – от 0px (базовые стили)
        </li>
        <li>
          <strong>g-xs-*</strong> – от 480px
        </li>
        <li>
          <strong>g-sm-*</strong> – от 768px
        </li>
        <li>
          <strong>g-md-*</strong> – от 1000px
        </li>
        <li>
          <strong>g-lg-*</strong> – от 1200px
        </li>
      </ul>
      <div class="g-row align-center">
        <div class="g-xs-5 g-md-4">g-xs-5 <br> g-md-4</div>
        <div class="g-xs-5 g-md-4">g-xs-5 <br> g-md-4</div>
        <div class="g-xs-2 g-md-4">g-xs-2 <br> g-md-4</div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>

  </section><!-- class="container" -->

  <footer class="footer"></footer><!-- class="footer" -->

  <script type="text/javascript" src="http://yastatic.net/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="media/js/main.js"></script>
</body>
</html>