// used plugin fancybox
// initialization ins are in file js/scripts/fancybox-popup.js

.fancybox-gallery-skin {

  .fancybox-skin {
    box-shadow none !important
    background #333
    color #fff
  }
}


.popup {
  padding 20px
  background #FFF
}