//!  generated automatically!

//!  use:
//!    1. s-home()
//!    2. s-home(r) - resize
//!    3. s-home(p) - change of background position
//!    4. s-home(!important), -home(r, !important)


s-fb(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position 0px 0px importance
    if r in arg
      width 38px importance
      height 38px importance
  else
    display inline-block importance
    background url('../../build/images/sprite.png') no-repeat 0px 0px importance
    width 38px importance
    height 38px importance

    @media $m-retina
      background-size 76px 38px
      background-image url('../../build/images/sprite@2x.png')

s-tw(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position -38px 0px importance
    if r in arg
      width 38px importance
      height 38px importance
  else
    display inline-block importance
    background url('../../build/images/sprite.png') no-repeat -38px 0px importance
    width 38px importance
    height 38px importance

    @media $m-retina
      background-size 76px 38px
      background-image url('../../build/images/sprite@2x.png')

