mixin use(name)
  svg(class='icon ' + name, xmlns:xlink="http://www.w3.org/1999/xlink")
    use(xlink:href='#' + name)

doctype html
html
  head
    meta(charset='UTF-8')

    block title
    title
      | Template - #{title}

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="assets/images/favicon/android-chrome-144x144.png", rel="icon")
    link(href="assets/images/favicon/android-chrome-192x192.png", rel="icon")
    link(href="assets/images/favicon/apple-touch-icon-180x180.png", rel="apple-touch-icon")
    link(href="assets/images/favicon/apple-touch-icon-152x152.png", rel="apple-touch-icon")
    link(href="assets/images/favicon/apple-touch-icon-120x120.png", rel="apple-touch-icon")
    link(href="assets/images/favicon/apple-touch-icon-76x76.png", rel="apple-touch-icon")
    link(href="assets/images/favicon/apple-touch-icon-60x60.png", rel="apple-touch-icon")
    link(href="assets/images/favicon/mslite-310x310.png", rel="icon")
    link(href="assets/images/favicon/mslite-70x70.png", rel="icon")
    link(href="assets/images/favicon/favicon-32x32.png", rel="icon")
    link(href="assets/images/favicon/favicon.ico", rel="icon", type="image/vnd.microsoft.icon")

    link(href='assets/css/main.css', rel='stylesheet')
    script(src='assets/js/libs/modernizr-2.7.1.custom.min.js')
    //[if lte IE 9]><script src='media/js/libs/respond.1.4.2.min.js'></script><![endif]
  body
    div(style="height: 0; width: 0; position: absolute; visibility: hidden")
      include includes/sprites_svg.svg

    include includes/header

    .content
      block content

    include includes/footer

    script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
    script(src='assets/js/main.js')