.iradio
.icheckbox
  display inline-block
  *display inline
  vertical-align middle
  margin 0
  padding 0
  border 1px solid #707070
  width 18px
  height 18px
  cursor pointer
  transition border-color .3s, box-shadow .3s

  &:before
    display none
    position absolute
    left 50%
    top 50%
    margin -6px 0 0 -6px
    size(12px)
    content ""
    background #707070

  &.hover
    box-shadow 0 0 2px rgba(#000, .2)
    border-color $base-color

  &.checked
    &:before
      display block

  &.disabled
    cursor default
    opacity .4


.icheckbox
  &:before
    background url("../images/icheck/icheckbox.png") no-repeat

  @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
    &:before
        background-image url("../images/icheck/icheckbox@2x.png")
        background-size 12px 12px


.iradio
  border-radius 50%

  &:before
    border-radius 50%



