html,
body,
div,
span,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
ins,
q,
b,
u,
i,
object,
label,
ul,
li,
ol,
form {
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  box-sizing: border-box;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  outline: none;
  font-family: sans-serif;
  box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  background: none;
}
a:focus {
  outline: thin dotted;
}
a:hover {
  text-decoration: none;
}
a,
a:focus,
a:hover,
a:active {
  outline: none;
}
a span,
a strong,
a img {
  cursor: pointer;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: normal;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  list-style: none;
}
dd {
  margin: 0 0 0 40px;
}
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  margin-bottom: 60px;
  font: normal 14px/1.4285 Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  background: #fff;
  color: #333;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #0784ad;
}
/* fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fancybox/blank.gif"); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox/fancybox_overlay.png");
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
  }
}
.clear,
.clear-line {
  display: block;
  clear: both;
}
.clear-line {
  font-size: 0;
  line-height: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.strong {
  font-weight: 700 !important;
}
.italic {
  font-style: italic !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.align-justify {
  text-align: justify !important;
}
.align-left {
  text-align: left !important;
}
.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}
.line-through {
  text-decoration: line-through !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb55 {
  margin-bottom: 55px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.fs10 {
  font-size: 10px !important;
}
.fs11 {
  font-size: 11px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs17 {
  font-size: 17px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs19 {
  font-size: 19px !important;
}
.fs20 {
  font-size: 20px !important;
}
.constrain {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 960px;
}
.g-row {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 0;
  line-height: 0;
}
.g-row:before,
.g-row:after {
  content: " ";
  display: table;
}
.g-row:after {
  clear: both;
}
.g-bs-1,
.g-xs-1,
.g-sm-1,
.g-md-1,
.g-lg-1,
.g-bs-2,
.g-xs-2,
.g-sm-2,
.g-md-2,
.g-lg-2,
.g-bs-3,
.g-xs-3,
.g-sm-3,
.g-md-3,
.g-lg-3,
.g-bs-4,
.g-xs-4,
.g-sm-4,
.g-md-4,
.g-lg-4,
.g-bs-5,
.g-xs-5,
.g-sm-5,
.g-md-5,
.g-lg-5,
.g-bs-6,
.g-xs-6,
.g-sm-6,
.g-md-6,
.g-lg-6,
.g-bs-7,
.g-xs-7,
.g-sm-7,
.g-md-7,
.g-lg-7,
.g-bs-8,
.g-xs-8,
.g-sm-8,
.g-md-8,
.g-lg-8,
.g-bs-9,
.g-xs-9,
.g-sm-9,
.g-md-9,
.g-lg-9,
.g-bs-10,
.g-xs-10,
.g-sm-10,
.g-md-10,
.g-lg-10,
.g-bs-11,
.g-xs-11,
.g-sm-11,
.g-md-11,
.g-lg-11,
.g-bs-12,
.g-xs-12,
.g-sm-12,
.g-md-12,
.g-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  font-size: 14px;
  line-height: 1.4285;
  vertical-align: top;
}
.g-bs-1 {
  display: inline-block;
  width: 8.333%;
}
.g-bs-2 {
  display: inline-block;
  width: 16.666%;
}
.g-bs-3 {
  display: inline-block;
  width: 25%;
}
.g-bs-4 {
  display: inline-block;
  width: 33.333%;
}
.g-bs-5 {
  display: inline-block;
  width: 41.666%;
}
.g-bs-6 {
  display: inline-block;
  width: 50%;
}
.g-bs-7 {
  display: inline-block;
  width: 58.333%;
}
.g-bs-8 {
  display: inline-block;
  width: 66.666%;
}
.g-bs-9 {
  display: inline-block;
  width: 75%;
}
.g-bs-10 {
  display: inline-block;
  width: 83.333%;
}
.g-bs-11 {
  display: inline-block;
  width: 91.666%;
}
.g-bs-12 {
  display: inline-block;
  width: 100%;
}
@media (min-width: 480px) {
  .g-xs-1 {
    display: inline-block;
    width: 8.333%;
  }
  .g-xs-2 {
    display: inline-block;
    width: 16.666%;
  }
  .g-xs-3 {
    display: inline-block;
    width: 25%;
  }
  .g-xs-4 {
    display: inline-block;
    width: 33.333%;
  }
  .g-xs-5 {
    display: inline-block;
    width: 41.666%;
  }
  .g-xs-6 {
    display: inline-block;
    width: 50%;
  }
  .g-xs-7 {
    display: inline-block;
    width: 58.333%;
  }
  .g-xs-8 {
    display: inline-block;
    width: 66.666%;
  }
  .g-xs-9 {
    display: inline-block;
    width: 75%;
  }
  .g-xs-10 {
    display: inline-block;
    width: 83.333%;
  }
  .g-xs-11 {
    display: inline-block;
    width: 91.666%;
  }
  .g-xs-12 {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .g-sm-1 {
    display: inline-block;
    width: 8.333%;
  }
  .g-sm-2 {
    display: inline-block;
    width: 16.666%;
  }
  .g-sm-3 {
    display: inline-block;
    width: 25%;
  }
  .g-sm-4 {
    display: inline-block;
    width: 33.333%;
  }
  .g-sm-5 {
    display: inline-block;
    width: 41.666%;
  }
  .g-sm-6 {
    display: inline-block;
    width: 50%;
  }
  .g-sm-7 {
    display: inline-block;
    width: 58.333%;
  }
  .g-sm-8 {
    display: inline-block;
    width: 66.666%;
  }
  .g-sm-9 {
    display: inline-block;
    width: 75%;
  }
  .g-sm-10 {
    display: inline-block;
    width: 83.333%;
  }
  .g-sm-11 {
    display: inline-block;
    width: 91.666%;
  }
  .g-sm-12 {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .g-md-1 {
    display: inline-block;
    width: 8.333%;
  }
  .g-md-2 {
    display: inline-block;
    width: 16.666%;
  }
  .g-md-3 {
    display: inline-block;
    width: 25%;
  }
  .g-md-4 {
    display: inline-block;
    width: 33.333%;
  }
  .g-md-5 {
    display: inline-block;
    width: 41.666%;
  }
  .g-md-6 {
    display: inline-block;
    width: 50%;
  }
  .g-md-7 {
    display: inline-block;
    width: 58.333%;
  }
  .g-md-8 {
    display: inline-block;
    width: 66.666%;
  }
  .g-md-9 {
    display: inline-block;
    width: 75%;
  }
  .g-md-10 {
    display: inline-block;
    width: 83.333%;
  }
  .g-md-11 {
    display: inline-block;
    width: 91.666%;
  }
  .g-md-12 {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .g-lg-1 {
    display: inline-block;
    width: 8.333%;
  }
  .g-lg-2 {
    display: inline-block;
    width: 16.666%;
  }
  .g-lg-3 {
    display: inline-block;
    width: 25%;
  }
  .g-lg-4 {
    display: inline-block;
    width: 33.333%;
  }
  .g-lg-5 {
    display: inline-block;
    width: 41.666%;
  }
  .g-lg-6 {
    display: inline-block;
    width: 50%;
  }
  .g-lg-7 {
    display: inline-block;
    width: 58.333%;
  }
  .g-lg-8 {
    display: inline-block;
    width: 66.666%;
  }
  .g-lg-9 {
    display: inline-block;
    width: 75%;
  }
  .g-lg-10 {
    display: inline-block;
    width: 83.333%;
  }
  .g-lg-11 {
    display: inline-block;
    width: 91.666%;
  }
  .g-lg-12 {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .bgffff {
    color: #fff;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: normal;
}
h1,
h2,
h3 {
  margin-top: 20px;
}
h4,
h5,
h6 {
  margin-top: 10px;
}
h1 {
  font-size: 31px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p,
ul,
ol,
table,
blockquote {
  margin: 0 0 10px;
}
blockquote {
  margin-left: 20px;
  padding: 10px 20px;
  font-style: italic;
  border-left: 3px solid #33a9b9;
}
blockquote ul:last-child,
blockquote ol:last-child,
blockquote p:last-child {
  margin-bottom: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
}
thead th {
  background-color: #f3f3f3;
  border-bottom-width: 2px;
}
thead td {
  background: #f3f3f3;
}
ol,
ul {
  padding-left: 30px;
}
ol ul,
ul ul,
ol ol,
ul ol {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ul ul {
  list-style: circle;
}
ul ul ul {
  list-style: square;
}
ol {
  list-style: decimal;
}
ul.unstyled,
ol.unstyled {
  padding-left: 0;
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.typography:after,
.typography:before {
  display: block;
  content: '';
}
.typography:after {
  clear: both;
}
.typography > p:last-child,
.typography > ul:last-child,
.typography > ol:last-child,
.typography > table:last-child,
.typography td p:last-child,
.typography th p:last-child,
.typography td ul:last-child,
.typography td ol:last-child {
  margin-bottom: 0;
}
.btn {
  display: inline-block;
  border: 1px solid #33a9b9;
  border-radius: 3px;
  padding: 7px 14px 8px;
  height: 34px;
  background-color: #33a9b9;
  color: #fff;
  font: 400 14px/1.3 Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color ease 0.3s;
       -o-transition: background-color ease 0.3s;
          transition: background-color ease 0.3s;
}
.btn.disabled,
.btn[disabled] {
  opacity: 0.65;
  cursor: default;
  pointer-events: none;
}
.btn:hover,
.btn:focus {
  background-color: #3eb9ca;
}
.btn:active {
  -webkit-transition-duration: 0;
       -o-transition-duration: 0;
          transition-duration: 0;
  background-color: #30a1b0;
}
.btn_link {
  border-color: transparent;
  background-color: transparent;
  color: #0784ad;
  text-decoration: underline;
}
.btn_link:hover {
  background-color: transparent;
  text-decoration: none;
}
.btn_link:active,
.btn_link:focus {
  background-color: transparent;
}
.btn_block {
  display: block;
  width: 100%;
}
.form-control {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px 14px 8px;
  width: 100%;
  height: 34px;
  background: #fff;
  color: #333;
  font: 400 14px/1.3 Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  box-sizing: border-box;
  -webkit-transition: border-color ease 0.3s;
       -o-transition: border-color ease 0.3s;
          transition: border-color ease 0.3s;
}
.form-control::-webkit-input-placeholder {
  color: #666;
  font-style: normal;
  font-family: $font-body;
}
.form-control::-moz-placeholder {
  color: #666;
  font-style: normal;
  font-family: $font-body;
}
.form-control:-moz-placeholder {
  color: #666;
  font-style: normal;
  font-family: $font-body;
}
.form-control:-ms-input-placeholder {
  color: #666;
  font-style: normal;
  font-family: $font-body;
}
.form-control:focus {
  border-color: #aaa;
}
.form-control:focus::-webkit-input-placeholder {
  color: #ccc;
  font-style: normal;
  font-family: $font-body;
}
.form-control:focus::-moz-placeholder {
  color: #ccc;
  font-style: normal;
  font-family: $font-body;
}
.form-control:focus:-moz-placeholder {
  color: #ccc;
  font-style: normal;
  font-family: $font-body;
}
.form-control:focus:-ms-input-placeholder {
  color: #ccc;
  font-style: normal;
  font-family: $font-body;
}
.form-control[disabled],
.form-control[readonly] {
  opacity: 0.6;
}
.form-control.error,
.error .form-control {
  border-color: #f00;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.iradio,
.icheckbox {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 1px solid #707070;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, box-shadow 0.3s;
       -o-transition: border-color 0.3s, box-shadow 0.3s;
          transition: border-color 0.3s, box-shadow 0.3s;
}
.iradio:before,
.icheckbox:before {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  content: "";
  background: #707070;
}
.iradio.hover,
.icheckbox.hover {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border-color: #33a9b9;
}
.iradio.checked:before,
.icheckbox.checked:before {
  display: block;
}
.iradio.disabled,
.icheckbox.disabled {
  cursor: default;
  opacity: 0.4;
}
.icheckbox:before {
  background: url("../images/icheck/icheckbox.png") no-repeat;
}
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox:before {
    background-image: url("../images/icheck/icheckbox@2x.png");
    background-size: 12px 12px;
  }
}
.iradio {
  border-radius: 50%;
}
.iradio:before {
  border-radius: 50%;
}
.fancybox-gallery-skin .fancybox-skin {
  box-shadow: none !important;
  background: #333;
  color: #fff;
}
.popup {
  padding: 20px;
  background: #fff;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #ddd;
}
.header {
  height: 60px;
  background: #ddd;
}
.hidden-bs,
.visible-xs,
.visible-sm,
.visible-md,
.hidden-only-bs,
.visible-only-md,
.visible-only-sm,
.visible-only-xs {
  display: none !important;
}
@media (max-width: 1199px) {
  .visible-md,
  .visible-only-md,
  .hidden-only-bs {
    display: block !important;
  }
  .hidden-md,
  .visible-only-bs,
  .hidden-only-md {
    display: none !important;
  }
}
@media (max-width: 999px) {
  .visible-sm,
  .visible-only-sm,
  .hidden-only-md {
    display: block !important;
  }
  .hidden-sm,
  .visible-only-md,
  .hidden-only-sm {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .visible-xs,
  .visible-only-xs,
  .hidden-only-sm {
    display: block !important;
  }
  .hidden-xs,
  .visible-only-sm,
  .hidden-only-xs {
    display: none !important;
  }
}
